.header{
    display: flex;
    height: 80px;
    text-align: center;
    padding: 16px 22px;
    gap: 30px;
}

.header button {
    padding: 0 18px;
    height: 51px;    
    font-family: 'Inter';
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.header__logo {
    margin-right: auto;
}

.header__sign-up {
    border: 1px solid #52C41A;
    border-radius: 5px;
    color: #52C41A;
}